<div class="row">
  <div class="col-lg-8 col-xl-6 pr-xl-4">
    <div class="font-size-xs row m-0">
      <div class="col-4 mb-2 pl-0 d-none d-sm-block">
        <input
          class="btn btn-primary form-control"
          type="button"
          value="Previous"
          (click)="onPrevMonth()"
        />
      </div>
      <div class="col-4 text-center d-none d-sm-block">
        <h4 class="m-0">
          {{ currentMonth }}
        </h4>
      </div>
      <div class="col-4 mb-2 pr-0 d-none d-sm-block">
        <input
          class="btn btn-primary form-control"
          type="button"
          value="Next"
          (click)="onNextMonth()"
        />
      </div>
      <div class="col-6 pl-0">
        <input
          class="form-control"
          type="text"
          id="year"
          name="year"
          placeholder="Year"
          (change)="onYearChange()"
          [(ngModel)]="currentYear"
        />
      </div>
      <div class="col-6 pr-0">
        <select
          class="custom-select"
          (change)="onMonthChange()"
          [(ngModel)]="currentMonthNumber"
          name="selectMonth"
        >
          <option *ngFor="let mon of months; let i = index" [ngValue]="i">
            {{ mon }}
          </option>
        </select>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="calendar-item" *ngFor="let day of weekDays">
        <h4 class="title">{{ day }}</h4>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="calendar-item"
        *ngFor="let day of currentMonthDays; index as i"
      >
        <div
          class="day"
          (click)="onSelectDay(day)"
          [ngClass]="{
            'day-active': day.isActive && !day.isToday,
            'day-unavailable': !day.isActive,
            'day-today': day.isToday
          }"
        >
          <span>{{ day }}</span>
          <div class="notify" *ngIf="day.hasTasks"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-6 pl-lg-4 left-separator" id="tasks">
    <router-outlet></router-outlet>
  </div>
</div>
