<div class="row calendar-header justify-content-center">
  <div>
    <a class="month-selector">April</a>
    <h4 class="month-header">May 2015</h4>
    <a class="month-selector">June </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
  <div class="col-lg-1 col-md-4 col-sm-6">Item</div>
</div>
